
<div class="btn-group add-button" role="group" aria-label="add" ng-if="!loading">
    <button type="button" class="btn btn-default" ng-click="create()"><i class="fa fa-plus-circle"></i></button>

</div>

<div class="loading" ng-if="loading">
    <h1><i class="fa fa-circle-o-notch fa-spin fa-4x" ></i></h1>
</div>


<div class="container">

    <uib-accordion close-others="true" ng-if="categories.length>0">

        <uib-accordion-group is-open="status.open"  ng-repeat="category in categories" ng-init="category.editable=false">
            <uib-accordion-heading>

                {{category.name}}

                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </uib-accordion-heading>

            <div class="media">
                <div class="media-left" ng-class="{'image-uploader': category.editable}">

                    <img src="{{category.image.src || 'assets/img/noimage.png'}}" alt="category.image.alt" class="img-thumbnail thumbnail media-object" ng-click="category.editable && open(category)">

                </div>
                <div class="media-body">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Name</h3>
                        </div>
                        <div class="panel-body">
                            <span contenteditable="{{category.editable}}"
                                  ng-model="category.name"
                                  strip-br="true"
                                  strip-tags="true"
                                  select-non-editable="true">
                            </span>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Description</h3>
                        </div>
                        <div class="panel-body">
                            <span contenteditable="{{category.editable}}"
                                  ng-model="category.description"
                                  strip-br="true"
                                  strip-tags="true"
                                  select-non-editable="true">
                            </span>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Color</h3>
                        </div>
                        <div class="panel-body">
                            <input colorpicker="hex" type="text" ng-model="category.color"  ng-disabled="!category.editable" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-group fr" role="group" aria-label="actions">
                <button type="button" class="btn btn-default edit-button" ng-click="category.editable=true" ng-if="!category.editable"><i class="fa fa-pencil"></i></button>
                <button type="button" class="btn btn-success edit-button" ng-click="save(category)" ng-if="category.editable">Save</button>
                <button type="button" class="btn btn-default edit-button" ng-click="delete(category, $index)"><i class="fa fa-trash"></i></button>
            </div>

        </uib-accordion-group>
    </uib-accordion>



</div>
