<div>
    <div class="logout">
        <button type="button" class="btn btn-danger" aria-label="Left Align" ng-click="logout()">
            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </button>

    </div>

    <ul class="nav nav-tabs">
        <li role="presentation" ng-class="{'active':state.current==='customers'}"><a href="" ng-click="goToCustomers()">Customers</a></li>
        <li role="presentation" ng-class="{'active':state.current==='companies'}"><a href="" ng-click="goToCompanies()">Companies</a></li>
        <li role="presentation" ng-class="{'active':state.current==='companies-request'}"><a href="" ng-click="goToCompaniesRequest()">Companies Request</a></li>

        <li role="presentation" ng-class="{'active':state.current==='picks'}"><a href="" ng-click="goToPicks()">Picks</a></li>
        <li role="presentation" ng-class="{'active':state.current==='services'}"><a href="" ng-click="goToServices()">Services</a></li>
        <li role="presentation" ng-class="{'active':state.current==='categories'}"><a href="" ng-click="goToCategories()">Categories</a></li>
        <li role="presentation" ng-class="{'active':state.current==='preferences'}"><a href="" ng-click="goToPreferences()">Preferences</a></li>

    </ul>

    <div ui-view="content"></div>

</div>
