<div class="btn-group add-button" role="group" aria-label="add" ng-if="!loading">
    <button type="button" class="btn btn-default" ng-click="create()"><i class="fa fa-plus-circle"></i></button>

</div>

<div class="loading" ng-if="loading">
    <h1><i class="fa fa-refresh fa-spin fa-4x" ></i></h1>
</div>

<div class="container mr2">

    <uib-accordion close-others="true" ng-if="companies.length>0">

        <uib-accordion-group is-open="status.open" ng-repeat="company in companies" ng-init="company.editable=false">
            <uib-accordion-heading>

                {{company.cif}} - {{company.email}} - {{company.state}}

                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                <span class="label label-default category-company" ng-style="{'background-color':company.category_metadata.color}">{{company.category_metadata.name}}</span>
            </uib-accordion-heading>

            <div class="row">

                <div class="col-md-4">
                    <ul class="list-group">
                        <li class="list-group-item">  <span><strong>Name:</strong></span>
                            <span contenteditable="{{company.editable}}" ng-model="company.name" strip-br="true" strip-tags="true" select-non-editable="true">
                            </span>
                        </li>

                        <li class="list-group-item">  <span><strong>Email:</strong></span>
                            <span contenteditable="{{company.editable}}" ng-model="company.email" strip-br="true" strip-tags="true" select-non-editable="true">
                            </span>
                        </li>


                        <li class="list-group-item">  <span><strong>Category:</strong></span>
                            <select class="form-control" ng-model="company.category" ng-disabled="!company.editable">
                                <option ng-repeat="category in categories" value="{{category._id}}" ng-selected="category._id===company.category">{{category.name}}</option>

                            </select>
                        </li>

                        <li class="list-group-item">
                            <div class="input-group">
                                <span class="input-group-addon" >Phone</span>
                                <input type="phone" ng-disabled="!company.editable" class="form-control"   ng-model="company.tempPhone">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-disabled="!company.editable" ng-click="addPhone(company)">Add</button>
                                </span>
                            </div>

                            <table class="table table-striped" ng-if="company.phone.length>0">
                                <tr ng-repeat="phone in company.phone">
                                    <td>#{{$index}}</td>
                                    <td>{{phone}}</td>
                                    <td ng-if="company.editable"><i class="fa fa-times bt-icon" ng-click="deletePhone(company, $index)"></i></td>
                                </tr>
                            </table>
                        </li>

                        <li class="list-group-item">
                            <div class="input-group">
                                <span class="input-group-addon" >Emails</span>
                                <input type="email" ng-disabled="!company.editable" class="form-control"   ng-model="company.tempEmail">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-disabled="!company.editable" ng-click="addEmail(company)">Add</button>
                                </span>
                            </div>

                            <table class="table table-striped" ng-if="company.emailSecond.length>0">
                                <tr ng-repeat="email in company.emailSecond">
                                    <td>#{{$index}}</td>
                                    <td>{{email}}</td>
                                    <td ng-if="company.editable"><i class="fa fa-times bt-icon" ng-click="deleteEmail(company, $index)"></i></td>
                                </tr>
                            </table>
                        </li>

                    </ul>




                    <ul class="list-group">
                        <li class="list-group-item">  <span><strong>Register Date: </strong></span>{{company.registerDate | date: 'medium'}}
                        </li>
                        <li class="list-group-item">  <span><strong>Last Access: </strong></span>{{company.lastAccess | date:'medium'}}
                        </li>
                        <li class="list-group-item">  <span><strong>Last Update: </strong></span>{{company.lastUpdate | date:'medium'}}
                        </li>
                    </ul>

                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Description</h3>
                        </div>
                        <div class="panel-body">
                            <span contenteditable="{{company.editable}}"
                                  ng-model="company.description"
                                  strip-br="true"
                                  strip-tags="true"
                                  select-non-editable="true">
                            </span>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Images
                                <i class="fa fa-plus fr bt-icon"  ng-if="company.editable" ng-click="company.editable && addImage(company)"></i>
                            </h3>
                        </div>
                        <div class="panel-body" >
                            <uib-carousel interval="50000" no-wrap="false" >
                                <uib-slide ng-repeat="image in company.images" active="image.active">
                                    <img ng-src="{{image.src}}" alt="{{image.alt}}" style="margin:auto; height: 305px;" >
                                    <div class="carousel-caption">
                                        <i class="fa fa-trash-o delete-image bt-icon" ng-if="company.editable" ng-click="deleteImage(company, $index)"></i>
                                        <h4>{{image.alt}}</h4>

                                    </div>
                                </uib-slide>
                            </uib-carousel>

                            <div class="alert alert-info" role="alert" ng-if="company.images.length==0">No images</div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Keywords
                                <i class="fa fa-plus fr bt-icon"  ng-if="company.editable" uib-popover-template="dynamicPopover.templateUrl" popover-title="{{dynamicPopover.title}}"></i>

                            </h3>

                        </div>
                        <div class="panel-body">
                            <div class="keywords label label-default" ng-repeat="keyword in company.keywords" >
                                <span contenteditable="{{company.editable}}"
                                      ng-model="company.keywords[$index]"
                                      strip-br="true"
                                      strip-tags="true"
                                      select-non-editable="true">
                                </span>

                                <i class="fa fa-minus-circle bt-icon" ng-if="company.editable" ng-click="deleteKeyword(company, $index)"></i>

                            </div>

                        </div>

                    </div>

                </div>

                <div class="col-md-4">
                    <div class="panel panel-default" ng-init="company.showServices=false">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a href="" ng-click="company.showServices=!company.showServices"><strong>Services </strong></a>
                                <i class="fa fa-plus fr bt-icon" ng-if="company.editable" ng-click="company.editable && createService(company)"></i>
                            </h3>
                        </div>
                        <div class="panel-body" ng-if="company.showServices">
                            <uib-accordion close-others="true" ng-if="company.services.length>0">
                                <uib-accordion-group is-open="service.openService" ng-repeat="service in company.services">
                                    <uib-accordion-heading>

                                        <h4>{{service | service_name}}</h4>

                                    </uib-accordion-heading>

                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <strong>Price: </strong>
                                            {{service.price}}
                                        </li>
                                        <li class="list-group-item">
                                            <strong>Duration: </strong>
                                            {{service.duration}}
                                        </li>
                                        <li class="list-group-item">
                                            <strong>Rating: </strong>
                                            {{service.rating_average||0}}
                                        </li>
                                        <li class="list-group-item">
                                            <h4 class="list-group-item-heading">Description</h4>
                                            <p class="list-group-item-text">{{service.description}}</p>
                                        </li>
                                        <li class="list-group-item">
                                            <strong>Created: </strong>
                                            {{service.dateCreated |date}}
                                        </li>

                                    </ul>

                                    <button type="button" class="btn btn-default edit-button" ng-if="company.editable" ng-click="updateService(company, $index)"><i class="fa fa-pencil"></i></button>

                                    <button type="button" class="btn btn-default edit-button" ng-if="company.editable" ng-click="deleteService(company, $index)"><i class="fa fa-trash"></i></button>


                                </uib-accordion-group>
                            </uib-accordion>
                            <div class="alert alert-info" role="alert" ng-if="company.services.length==0">No Services</div>
                        </div>
                    </div>
                    <div class="panel panel-default mb5"  ng-init="company.showLocations=false">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <a href="" ng-click="company.showLocations=!company.showLocations">  Location</a>
                                <i class="fa fa-plus fr bt-icon"  ng-if="company.editable" ng-click="company.editable && addLocation(company)"></i>
                            </h3>
                        </div>
                        <div class="panel-body"  ng-if="company.showLocations">
						
					

                         <div ng-if="company.location">

                                        <h4>{{company.location.name}}

                                        </h4>

                                 

                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <strong>Country: </strong>
                                            {{company.location.country}}
                                        </li>
                                        <li class="list-group-item">
                                            <strong>Province: </strong>
                                            {{company.location.province}}
                                        </li>
                                        <li class="list-group-item">
                                            <strong>City: </strong>
                                            {{company.location.city}}
                                        </li>
                                        <li class="list-group-item">
                                            <strong>Zipcode: </strong>
                                            {{company.location.zipcode}}
                                        </li>
                                        <li class="list-group-item">
                                            <strong>Adress: </strong>
                                            {{company.location.address}}
                                        </li>

                                        <li class="list-group-item">
                                            <strong>Geolocation </strong>
                                            <ul class="list-group">
                                                <li class="list-group-item">
                                                    <strong>Longitude: </strong>
                                                    {{company.location.geolocation.longitude}}
                                                </li>
                                                <li class="list-group-item">
                                                    <strong>Latitude: </strong>
                                                    {{company.location.geolocation.latitude}}
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="list-group-item">
                                            <ng-map default-style="true" center="[ {{company.location.geolocation.longitude}}, {{company.location.geolocation.latitude}}]" zoom="15">
                                            </ng-map>

                                        </li>



                                    </ul>

                                    <button type="button" class="btn btn-default edit-button" ng-if="company.editable" ng-click="updateLocation(company)"><i class="fa fa-pencil"></i></button>

                                    <button type="button" class="btn btn-default edit-button" ng-if="company.editable" ng-click="deleteLocation(company)"><i class="fa fa-trash"></i></button>


                              </div>
                            <div class="alert alert-info" role="alert" ng-if="!company.location">No Location</div>


                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">  <span><strong>Promotions</strong></span>
                            </h3>
                        </div>
                        <div class="panel-body">



                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">  <span><strong>Reviews</strong></span>
                            </h3>
                        </div>
                        <div class="panel-body">



                        </div>
                    </div>


                </div>

            </div>





            <div class="btn-group fr" role="group" aria-label="actions">
                <button type="button" class="btn btn-default edit-button" ng-click="company.editable=true" ng-if="!company.editable"><i class="fa fa-pencil"></i></button>
                <button type="button" class="btn btn-success edit-button" ng-click="save(company)" ng-if="company.editable">Save</button>
                <button type="button" class="btn btn-default edit-button" ng-click="delete(company, $index)"><i class="fa fa-trash"></i></button>
                <button type="button" class="btn btn-default edit-button" ng-click="demoCompany(company,$index)" ng-if="!company.editable"><i class="fa fa-times"></i></button>
                <button type="button" class="btn btn-default edit-button" ng-click="acceptCompany(company)" ng-if="!company.editable"><i class="fa fa-check"></i></button>
            </div>

            <script type="text/ng-template" id="KeywordPopover.html">

                <div class="form-group">

                    <input type="text" class="form-control mb5" ng-model="company.tempTag">

                    <button class="btn btn-default ml20" type="button" ng-click="addTag(company)">Submit</i></button>


                </div>
            </script>


        </uib-accordion-group>


    </uib-accordion>



</div>
