.page-header{
    text-align: center;
}

.logout{
    float: right;
    margin-right: 2%;
    margin-top: -0.5%;
}

.size512{
    width: 512px;
    height:512px;
}
.thumbnail{
    width: 350px;
    height:256px;
}
