.page-header{
    text-align: center;
}

.logout{
    float: right;
    margin-right: 2%;
    margin-top: -0.5%;
}

.size512{
    width: 512px;
    height:512px;
}
.thumbnail{
    width: 350px;
    height:256px;
}


.inline{
   display: inline;
}

.fr{
    float:right;
}

.edit-button{

display: inline;
float: right;
font-size: 1.5em;

}


.add-button{
    position: fixed;
}

.add-button button{
    font-size: 7em;
    border-radius: 0;
}

.image-uploader:hover{

    transform: scale(0.95, 0.95);

}

.mb5{
    margin-bottom: 5% !important;
}

.mb10{
    margin-bottom: 10%;
}

.mt5{
    margin-top: 5%;
}

.loading{
    margin-left: 45%;
}

.bt-icon:hover{
    color:rgba(1,1,1,0.5);
}

.ml20{
    margin-left: 20%;
}

.keywords{
    display: inline-block;
    padding: 5%;
    margin: 2%;
    background-color: #76B;
    font-size: 1.1em;
}


.mr2{
    margin-right: 6%;
}

.width24{
    width: 24em;

}

.height24{
     height: 24em;
}
google-map {
    height: 200px;
  }

.dec-none{
    text-decoration: none;
}


.category-company{
    text-decoration: none;
    float: right;
    margin-right: 5%;
}
