
<div class="tab-options">
    <div class="filter">
        <button class="btn btn-default " type="button" ng-click="openFilterModal()">
            <i class="fa fa-bars"></i>
        </button> 
    </div>

    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for id, customer id, company id, service id, promotion id, observation..." ng-model="searchObject.text" ng-change="searchByText()">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="searchByText()"><i class="fa fa-search"></i></button>
        </span>
    </div>

    <uib-pagination total-items="page.totalItems" ng-model="page.current" max-size="page.size" force-ellipses="true" rotate="true"  ng-change="changePagination()" items-per-page="page.sizeItems"></uib-pagination>
    <span class="size">
        Size
        <input type="number" class="form-control" placeholder="Size" ng-model="page.sizeItems" min="5" max="500" step="1" ng-change="changePagination()">
    </span>
</div>

<div class="container" ng-if="picks.length==0">

    <h3 style="text-align:center">No results</h3>
</div>

<div class="loading" ng-if="loading">
    <h1><i class="fa fa-spinner fa-pulse fa-5x" ></i></h1>
</div>


<div class="tab-accordion" ng-if="picks.length>0">

    <uib-accordion close-others="true">

        <uib-accordion-group is-open="status.open"  ng-repeat="pick in picks">
            <uib-accordion-heading>


                {{pick.initDate |date }}: {{pick.service.metadata.name}} to {{pick.customer.email}} in {{pick.company.name}}
                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </uib-accordion-heading>

            <div class="row">
                <div class="col-md-3">
                    <ul class="list-group">
                        <li class="list-group-item">Created: {{pick.dateCreated | date}}</li>
                        <li class="list-group-item">State: {{pick.state | capitalize}}</li>
                        <li class="list-group-item">Origin: {{pick.origin | capitalize}}</li>
                        <li class="list-group-item" ng-if="pick.origin==='manual'">
                            <h4>Manual Client Data</h4>
                            <ul class="list-group">
                                <li class="list-group-item">Name: {{pick.nameCli}}</li>
                                <li class="list-group-item">Phone: {{pick.phoneCli}}</li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div  class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Company</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item">Name: {{pick.company.name}}</li>
                                <li class="list-group-item">CIF: {{pick.company.cif}}</li>
                                <li class="list-group-item">Email: {{pick.company.email}}</li>
                                <li class="list-group-item">Category: {{pick.company.category.name}}</li>

                            </ul>
                        </div>
                    </div>

                </div>

                <div  class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Service</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item">Name: {{pick.service.metadata.name}}</li>
                                <li class="list-group-item">Company Description: {{pick.service.description}}</li>


                                <li class="list-group-item">Price: {{pick.service.price}}</li>
                                <li class="list-group-item">Duration: {{pick.service.metadata.duration}}</li>



                            </ul>
                        </div>
                    </div>

                </div>

                <div  class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Customer</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item">Name: {{pick.customer.name}} {{pick.customer.surname}}</li>

                                <li class="list-group-item">Email: {{pick.customer.email}}</li>


                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="btn-group fr" role="group" aria-label="actions">

                <button type="button" class="btn btn-default edit-button" ng-click="delete(pick, $index)"><i class="fa fa-trash"></i></button>
            </div>

        </uib-accordion-group>
    </uib-accordion>




</div>
